	
	<nav>
	<span class="glyphicon glyphicon-menu-hamburger navleft"></span>
	<ul>
		<li onclick="round('tab',$('#main'))"><a href="#">我的</a></li>
		<li onclick="round('music_hall',$('#main'))"><a href="#">音乐馆</a></li>
		<li onclick="round('discover',$('#main'))"><a href="#">发现</a></li>
	</ul>
	<span class="glyphicon glyphicon-plus navright"></span>
	</nav>
	<div class="search">
	<input type="text" onclick="round('seek',$('#share'));$('.body').css({'display':'none'});$('#share').css({'display':'block'})" class="search_input"  />
	<div class="search_span">
		<span class="glyphicon glyphicon-search "></span><p> 搜索</p>
	</div>
</div>
<div class="left_mune">
</div>
<div class="left_mune_inner">
	<img src="images/webwxgetmsgimg3_02.png" class="top"/>
	<img src="images/webwxgetmsgimg3_04.png" class="top" />
</div>
	
