<div class="swiper-container banner">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<img src="images/webwxgetmsgimg_02.png" />
		</div>
		<div class="swiper-slide">
			<img src="images/webwxgetmsgimg12_02.png" />
		</div>
		<div class="swiper-slide">
			<img src="images/webwxgetmsgimg11_02.png" />
		</div>
		<div class="swiper-slide">
			<img src="images/webwxgetmsgimg1_02_02.png" />
		</div>
		<div class="swiper-slide">
			<img src="images/webwxgetmsgimg10_02.png" />
		</div>
		<div class="swiper-slide">
			<img src="images/webwxgetmsgimg5_02.png" />
		</div>
		<div class="swiper-slide">
			<img src="images/webwxgetmsgimg6_02.png" />
		</div>
		<div class="swiper-slide">
			<img src="images/webwxgetmsgimg7_02.png" />
		</div>
		<div class="swiper-slide">
			<img src="images/webwxgetmsgimg8_02.png" />
		</div>
	</div>
		
</div>
<div class="hall_list clearfix">
	<ul>
		<li><a href="#"><img src="images/webwxgetmsgimg_05.png"/>歌手</a></li>
		<li><a href="#"><img src="images/webwxgetmsgimg_07.png"/>排行</a></li>
		<li><a href="#"><img src="images/webwxgetmsgimg_09.png"/>电台</a></li>
		<li><a href="#"><img src="images/webwxgetmsgimg_14.png"/>分类歌单</a></li>
		<li><a href="#"><img src="images/webwxgetmsgimg_15.png"/>视频MV</a></li>
		<li><a href="#"><img src="images/webwxgetmsgimg_16.png"/>数字专辑</a></li>
	</ul>
</div>
<dl class="hot clearfix">
	<dt><img src="images/webwxgetmsgimg_21.png"/>热门推荐</dt>
	<dd>
		<div class="hot_item">
			<a href="#"  onclick="round('songlist',$('#share'));$('.body').css({'display':'none'});$('#share').css({'display':'block'})">
			<img src="images/webwxgetmsgimg1_02.png" />
			<p>每日新歌秦时丽人明月心，难舍...</p>
			</a>
		</div>
		<div class="hot_item" style="margin: 0 .02rem;" >
			<a href="#" onclick="round('songlist',$('#share'));$('.body').css({'display':'none'});$('#share').css({'display':'block'})">
			<img src="images/webwxgetmsgimg1_04.png" />
			<p>毛不易歌词不够好？薛之谦为他...</p>
			</a>
		</div>
		<div class="hot_item">
			<a href="#" onclick="round('songlist',$('#share'));$('.body').css({'display':'none'});$('#share').css({'display':'block'})">
			<img src="images/webwxgetmsgimg1_06.png" />
			<p>致失眠患者：300首优雅ACG小提琴...</p>
			</a>
		</div>
		<div class="hot_item">
			<a href="#" onclick="round('songlist',$('#share'));$('.body').css({'display':'none'});$('#share').css({'display':'block'})">
			<img src="images/webwxgetmsgimg1_10.png" />
			<p>换个口味叛逆青年英伦摇滚入门歌单</p>
			</a>
		</div>
		<div class="hot_item" style="margin: 0 .02rem;">
			<a href="#" onclick="round('songlist',$('#share'));$('.body').css({'display':'none'});$('#share').css({'display':'block'})">
			<img src="images/webwxgetmsgimg1_11.png" />
			<p>赌一个女朋友:这99首R&B不好听算...</p>
			</a>
		</div>
		<div class="hot_item">
			<a href="#" onclick="round('songlist',$('#share'));$('.body').css({'display':'none'});$('#share').css({'display':'block'})">
			<img src="images/webwxgetmsgimg1_12.png" />
			<p>赌一包辣条，你的前任听了这些歌...</p>
			</a>
		</div>
	</dd>
</dl> 