<div class="return">
	<span class="glyphicon glyphicon-arrow-left"></span>
	歌单
	<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
</div>
<img src="images/webwxgetmsgimg13_02.png" style="width: 100%;"/>
<img src="images/webwxgetmsgimg13_03.png" style="width: 100%;" />
<ol class="songList">
	
</ol>

<ul id="sonlist" style="display: none;">
	<li class="clearfix">
		<span class="glyphicon glyphicon-option-vertical i"></span>
		<span class="glyphicon glyphicon-heart i1"></span>
		<div class="text">
			<p class="music">你可知道</p>
			<p class="name">黄龄</p>
		</div>
		<img src="images/webwxgetmsgimg13_6_06.png" style="float: left;padding-top: 0.02rem;padding-left: 0.1rem;"/>
	</li>
	
</ul>