<div class="tab_top">
	<div class="time">
		0分钟
	</div>
	<div class="portrait">
		<img src="images/webwxgetmsgimg2_03.png" />
	</div>
	<div class="dredge">
		开通
	</div>
</div>
<div class="list clearfix">
	<div class="item">
		<img src="images/webwxgetmsgimg2_15.png" />
		<p>本地歌曲</p>
	</div>
	<div class="item">
		<img src="images/webwxgetmsgimg2_18.png" />
		<p>下载歌曲</p>
	</div>
	<div class="item">
		<img src="images/webwxgetmsgimg2_21.png" />
		<p>最近播放</p>
	</div>
	<div class="item">
		<img src="images/webwxgetmsgimg2_26.png" />
		<p>我喜欢</p>
	</div>
	<div class="item">
		<img src="images/webwxgetmsgimg2_27.png" />
		<p>下载MV</p>
	</div>
	<div class="item">
		<img src="images/webwxgetmsgimg2_28.png" />
		<p>已购音乐</p>
	</div>
</div>
<div class="individuality">
	<div class="individuality_item clearfix">
		<img src="images/webwxgetmsgimg2_02.png" />
		<div class="text">
			<h4>个性听台</h4>
			<p>听专属于你的音乐</p>
		</div>
	</div>
	<div class="individuality_item clearfix">
		<img src="images/webwxgetmsgimg2_05.png" />
		<div class="text">
			<h4>跑步听台</h4>
			<p>QQ音乐×Nike，让运动乐在其中</p>
		</div>
	</div>
</div>
<div class="songlist">
	<div class="songlist_headline">
		<p><span>自建歌单</span>|<span>收藏歌单</span></p>
		<div class="pic">
			<img src="images/webwxgetmsgimg4_03.png" />
			<img src="images/webwxgetmsgimg4_05.png" />
		</div>
	</div>
</div>
